<h2>My Favorite Poses</h2>
<table>
  <thead>
    <tr>
      <th>User Pose Id</th>
      <th>English Name</th>
      <th>Sanskrit Name</th>
    </tr>
  </thead>
  <tbody>
    {{#user_poses}}
      <tr>
        <td>{{id}}</td>
        <td>{{pose.english_name}}</td>
        <td>{{pose.sanskrit_name}}</td>
      </tr>
    {{/user_poses}}
  </tbody>
</table>
