// basic colors
$white: #fff;
$black: #000;

// transparent colors
$transparent-black: rgba($black, .5);

// neutrals
$darkgray: #222e25;
$lightgray: #97948a;
$tan: #f7f7be;
$white: #fafafa;

// main color palette
$linen: #eae2d6;
$oyster: #d5c3aa;
$pewter: #867666;
$lemon-tea: #e1b80d;

@function shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}

@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}


$light-pewter: tint($pewter, 50%);
$lemon-tea-shade: shade($lemon-tea, 20%);
