$purewhite: #fff;
$black: #000;

$transparent-black: rgba($black, .5);

$aqua: #aad4b5;
$darkgray: #222e25;
$darkorange: #f27b47;
$lightgray: #97948a;
$lightorange: #eea948;
$tan: #f7f7be;
$teal: #197a81;
$white: #fafafa;

// new colors
$linen: #EAE2D6;
$oyster: #D5C3AA;
$pewter: #867666;
$lemon-tea: #E1B80D;

@function shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}

@function tint($color, $percentage) {
  @return mix($purewhite, $color, $percentage);
}


$lighttan: tint($tan, 50%);
$teal-shade: shade($teal, 20%);
