// Table styles //
// for reference on selectors I used this resource: https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Selectors
table {
  font-family: "Julius Sans One", sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

table th {
  vertical-align: bottom;
  font-weight: bold;
  background: $oyster;
  border-bottom-color: rgba(0, 0, 0, .1);
}

table th, table td {
  text-align: left;
  padding: .9em 1.5em .8em;
}

table thead th {
  border-bottom: 0;
}

table tbody > tr:nth-child(odd) > td {
  background-color: rgba(0, 0, 0, .04);
}
